.top_navbar_alignment{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    padding-left: 23px;
    padding-right: 23px;
    background-color: rgb(20, 20, 20);
}

.store_nav-main{
    position: sticky;
    z-index: 7;
}




