.top_navbar_alignment{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    padding-left: 23px;
    padding-right: 23px;
}

.second_nav_alignment{
    display: flex;
    justify-content: space-between;
    gap: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 190px;
    padding-right: 190px;
    background-color: rgb(15, 15, 15);
}

.store_nav-main{
    position: sticky;
    z-index: 7;
}

.feature-section{
    padding-top: 30px;
    padding-left: 190px;
    padding-right: 190px;
    background-color: rgb(15, 15, 15);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    height: 70vh;
}

.feature-game-left{
    position: relative;
    border-radius: 20px;
    overflow: hidden;

}

.feature-game-bg{
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

.feature-game-bg-nactive{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease ;
}
.feature-game-bg-active{
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.feature-game-info{
    z-index: 8;
}

.feature-game-right{
    display: grid;
    grid-template-rows: repeat( 6, 1fr);
    gap: 12px;
}



