body{
    background-color: rgb(15, 15, 15);
    margin: 0;
}

.top_navbar_alignment{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    padding-left: 23px;
    padding-right: 23px;
    background-color: rgb(20, 20, 20);
}

.store_nav-main{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(15, 15, 15);
}

.page-container{
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 10%;
}



