<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epic Games Clone</title>
    <link rel="stylesheet" href="../style/nav_bar.css">
    <link rel="stylesheet" href="../style/nav_bar_items.css">
    <link rel="stylesheet" href="../style/action_menu.css">
    <link rel="stylesheet" href="../style/container.css">
    <link rel="stylesheet" href="../style/home.css">
    <link rel="icon" type="image/x-icon" href="../res/logo/epic_logo_white.png">
    
</head>
<body>
    <nav class="navBar_header">

        <div class="top_navbar_alignment">

            <div class="left_navbar">
    
                <div class="nav_item">
                    <img src="../res/logo/epic_logo_white.png" class="epic_logo">
                    <span class="arrow"></span>
                    
                    <div class="dropdown">
                        <a href="../layout/library.html" class="epic_items">Play</a>
                        <a href="../layout/epic_main_page.html" class="epic_items">Discover</a>
                        <a href="../layout/create_page.html" class="epic_items">Create</a>
                    </div>
    
                </div>
    
                <a href="../layout/epic_main_page.html" class="store_main">STORE</a>
                <a href="../layout/support_page.html" class="support_main">Support</a>
    
                <div class="nav_item">
                    <a class="distribute_main">Distribute</a>
                    <span class="arrow"></span>
    
                    <div class="dropdown">
                        <a href="#" class="distribute_items">Distribute on Epic Games Store</a>
                        <a href="#" class="distribute_items">Developer Forums</a>
                        <a href="#" class="distribute_items">Documentation</a>
                        <a href="#" class="distribute_items">Learning</a>
                    </div>
    
                </div>
    
            </div>
    
            <div class="right_navbar">
                <img src="../res/logo/globe_logo.png" class="globe_logo">
                <img src="../res/logo/name_letter.png" class="name_letter">
                <a href="../layout/id_link.html" class="id_link">dp_9318</a>
                <button class="epic_store_download">Download</button>
            </div>

        </div>

    </nav>

    <nav class="store_nav-main">

        <div class="second_nav_alignment">

            <div class="store_nav">
    
                <div class="store_nav-left">
                    <input class="search" placeholder="Search Store">
                </div>
        
                <div class="store_nav-center">
                    <a href="../layout/epic_main_page.html" class="discover">Discover</a>
                    <a href="#" class="browse">Browse</a>
                    <a href="../layout/news.html" class="news">News</a>
                </div>
                
            </div>
            <div class="store_nav-right">
                <a href="#" class="wishlist">Wishlist</a>
                <a href="#" class="gift">Gifts</a>
                <a href="#" class="cart">Cart</a>
            </div>

        </div>

    </nav>

    <div class="content-page-alignment">
        

    </div>


</body>
</html>

 