<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epic Games Clone</title>
    <link rel="stylesheet" href="../style/container.css">
    <link rel="stylesheet" href="../style/navbar/nav-action-menu.css">
    <link rel="stylesheet" href="../style/navbar/nav-bar-items.css">
    <link rel="stylesheet" href="../style/navbar/sticky-navbar.css">
    <link rel="stylesheet" href="../style/navbar/top-navbar.css">
    <link rel="stylesheet" href="../style/feature-game/feature-game.css">
    <link rel="stylesheet" href="../style/discover/discover.css">
    <link rel="stylesheet" href="../style/free-games/free-games.css">

    <link rel="icon" type="image/x-icon" href="../assets/logo/epic_logo_white.png">
    
</head>
<body>
    <nav class="navBar_header">

        <div class="top_navbar_alignment">

            <div class="left_navbar">
    
                <div class="nav_item">
                    <img src="../assets/logo/epic_logo_white.png" class="epic_logo">
                    <span class="arrow"></span>
                    
                    <div class="dropdown">
                        <a href="../layout/library.html" class="epic_items">Play</a>
                        <a href="../layout/epic_main_page.html" class="epic_items">Discover</a>
                        <a href="../layout/create_page.html" class="epic_items">Create</a>
                    </div>
    
                </div>
    
                <a href="../layout/epic_main_page.html" class="store_main">STORE</a>
                <a href="../layout/support_page.html" class="support_main">Support</a>
    
                <div class="nav_item">
                    <a class="distribute_main">Distribute</a>
                    <span class="arrow"></span>
    
                    <div class="dropdown">
                        <a href="#" class="distribute_items">Distribute on Epic Games Store</a>
                        <a href="#" class="distribute_items">Developer Forums</a>
                        <a href="#" class="distribute_items">Documentation</a>
                        <a href="#" class="distribute_items">Learning</a>
                    </div>
    
                </div>
    
            </div>
    
            <div class="right_navbar">
                <img src="../assets/logo/globe_logo.png" class="globe_logo">
                <img src="../assets/logo/name_letter.png" class="name_letter">
                <a href="../layout/id_link.html" class="id_link">dp_9318</a>
                <button class="epic_store_download">Download</button>
            </div>

        </div>

    </nav>

    <div class="page-container">

        <nav class="store_nav-main">

            <div class="second_nav_alignment">

                <div class="store_nav">
        
                    <div class="store_nav-left">
                        <input class="search" placeholder="Search Store">
                    </div>
            
                    <div class="store_nav-center">
                        <a href="../layout/epic_main_page.html" class="discover">Discover</a>
                        <a href="#" class="browse">Browse</a>
                        <a href="../layout/news.html" class="news">News</a>
                    </div>
                    
                </div>
                <div class="store_nav-right">
                    <a href="#" class="wishlist">Wishlist</a>
                    <a href="#" class="gift">Gifts</a>
                    <a href="#" class="cart">Cart</a>
                </div>

            </div>

        </nav>

        <div class="feature-section">
            <div class="feature-game-left">
                <div class="feature-game-image">
                    <img src="../assets/featured/featured-img/forza-horizon-5.jpg" class="feature-game-bg-active">
                    <img src="../assets/featured/featured-img/detroit-once-became-human.jpg" class="feature-game-bg-not-active">
                    <img src="../assets/featured/featured-img/R.E.P.O.png" class="feature-game-bg-not-active">
                    <img src="../assets/featured/featured-img/where-winds-meet.jpg" class="feature-game-bg-not-active">                    
                </div>

                <div class="feature-game-gfx"></div>
                <div class="fearure-game-info">
                    <div class="feature-game-description">
                        <p></p>
                    </div>
                    <span class="feature-game-discount"></span>
                    <span class="feature-game-price"></span>
                    <button class="feature-game-buy-button">Buy Now</button>
                    <button class="feature-game-wishlist-button">Wishlist</button>
                </div>

            </div>

            <div class="feature-game-right">

                <div class="feature-game-list-item">Game 1</div>
                <div class="feature-game-list-item">Game 2</div>
                <div class="feature-game-list-item">Game 3</div>
                <div class="feature-game-list-item">Game 4</div>
                <div class="feature-game-list-item">Game 5</div>
                <div class="feature-game-list-item">Game 6</div>

            </div>

        </div>

        <div class="discover-games">
            <div class="discover-games-heading">
                <div>
                    <p id="discover-games-heading-txt">Discover Something New</p>
                    <div id="discover-game-new-page-btn"></div>
                </div>
                <div>
                    <button id="discover-games-prev"><</button>
                    <button id="discover-games-for">></button>
                </div>
            </div>

            <div class="discover-cards-container">
                <div class="discover-cards">card1</div>
                <div class="discover-cards">card2</div>
                <div class="discover-cards">card3</div>
                <div class="discover-cards">card4</div>
                <div class="discover-cards">card5</div>
                <div class="discover-cards">card6</div>
                <div class="discover-cards">card7</div>
                <div class="discover-cards">card8</div>
                <div class="discover-cards">card9</div>
                <div class="discover-cards">card10</div>
                <div class="discover-cards">card11</div>
                <div class="discover-cards">card12</div>
                <div class="discover-cards">card13</div>
                <div class="discover-cards">card14</div>
                <div class="discover-cards">card15</div>
            </div>

        </div>

        <div class="free-games">
            <div class="free-games-heading">
                <div id="free-games-heading-txt">Free Games</div>
                <div id="free-game-new-page-btn">View More</div>
            </div>
            <div class="free-cards-container">
                <div class="free-games-cards">card1</div>
                <div class="free-games-cards">card2</div>
                <div class="free-games-cards">card3</div>
                <div class="free-games-cards">card4</div>
        </div>

    </div>
</body>
</html>

 