.discover-games{
    color: white;
}

.discover-games-heading{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

#discover-games-heading-txt{
    color: white;
    font-size: 24px;
}