.discover-games-heading {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

#discover-games-heading-txt {
    color: white;
    font-size: 24px;
}

.discover-cards-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    gap: 25px;
}

.discover-cards {
    flex: 0 0 200px;
    color: white;
    height: 250px;
    background-color: grey;
}
